/* Page wrapper */
.game {
  padding-block: 16px;
  display: grid;
  gap: 16px;
}

/* Grid */
.game__grid {
  display: grid;
  gap: 10px;
}

@media (width >= 640px) {
  .game__grid {
    gap: 12px;
  }
}
